@font-face {
  font-family: 'Ploni';
  src: url('/fonts/ploni-light-aaa.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ploni';
  src: url('/fonts/ploni-regular-aaa.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ploni';
  src: url('/fonts/ploni-medium-aaa.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ploni';
  src: url('/fonts/ploni-bold-aaa.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ploni';
  src: url('/fonts/ploni-black-aaa.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
